<p class='greeting'>{{greeting}}</p>

<p class='message'>{{message1}}</p>
<p class='message'>{{message2}}</p>

<div class='button-container'>
  <a href='{{actionUrl}}' class='button' style='text-decoration: none; color: white;'>
    {{buttonText}}
  </a>
</div>

<p class='message'>
  {{alternativeText}}<br />
  <a href='{{actionUrl}}' style='color: #3b82f6; word-break: break-all;'>{{actionUrl}}</a>
</p>

<div class='security-note'>
  <p><strong>🔒 {{securityTitle}}</strong> {{securityNote}}</p>
</div>